<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>
<%= link_to "New recipe", new_recipe_path %>

<div id="recipes">
  <% @recipes.each_with_index do |recipe, index| %>

    <div class="element border">
      <div class="element_left">
        <p><strong>Recipe <%= index+1 %></strong></p>
        <p><%= link_to "Details", recipe_path(recipe, index: index+1) %></p>
        <%= button_to "Remove", recipe, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </div>

      <div class="element_mid"></div>

      <div class="element_right">
        <p><strong>Description for the recipe </strong> </p>
        <p><%= recipe.description %>
      </div>

    </div>


    
  <% end %>
</div>

