<p style="color: green"><%= notice %></p>

<h2 style="text-align:center">Recipe <%= params[:index].to_i %></h2>

<div class="element">
      <div class="element_left_1">
        <p>Preparation time: <%= @recipe.preparation_time %></p>

        <p>Cooking time: <%= @recipe.cooking_time %></p>
        <p>steps: <%= @recipe.description %></p>
        
      </div>

      <div class="element_mid">&nbsp;</div>

    <%= form_with(model: @recipe, method: :PATCH) do |f| %>
    <%= f.hidden_field :public, value: @recipe.public?? false : true %>
    <%= f.hidden_field :index, value: params[:index] %>
      
    <div class="element_right_1"><%= @recipe.public?? "Public" : "Private"%>
        <% if @recipe.public %>
          <i class="fa-solid fa-toggle-on fa-2xl toggle-icon" data-recipe-id="<%= @recipe.id %>" style="color: #159341;"></i>
        <% else %>
          <i class="fa-solid fa-toggle-off fa-2xl toggle-icon" data-recipe-id="<%= @recipe.id %>" style="color: #cc1f1a;"></i>
        <% end %>
      </div>
      
      <%= f.submit class: "public-update"%>
    <% end %>

    </div>

    <div class="flex-2">
    <%= link_to "Generate Shopping list", generate_shopping_list_path, class: "btn" %>
          <%= link_to "Add Ingredients", new_recipe_food_path(recipe_id: @recipe.id, index: params[:index])  %>
    </div>

    <hr />

<h3><%= @recipe.name %></h3>

<%# link_to "Public Recipe", public_recipes_path %>


<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%# Initialize variables to store the column totals and total items added %>
    <% total_quantity = 0 %>
    <% total_price = 0 %>
    <% total_value = 0 %>
    <% total_items_added = 0 %>

    <% @recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.name %></td>
        <td><%= recipe_food.quantity %>&nbsp;<%= recipe_food.measurement_unit %></td>
        <td>$<%= recipe_food.value %></td>
        <td><%= button_to "Delete", recipe_food, method: :delete, form_class: "delete-alertbox" %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%# data: {turbo_confirm: "Are you sure?"} %>
<%# data-confirm: "Are you sure?"} %>


