<p style="color: green"><%= notice %></p>

<h2>Recipe Foods</h2>
<table id="recipe_foods">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Recipe</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.recipe.name %></td>
        <td>
        <%= link_to "Show", recipe_food_path(recipe_food) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New recipe food", new_recipe_food_path %>
