<!DOCTYPE html>
<html>
  <head>
    <title>AlchemyKitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/59ba0ac1be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    </head>
    
    <body>
    <% if current_user %>
    <%= render "layouts/navbar" %>
    <% end %>
    <p class="notice"><%= notice %><span class="alert"><%= alert %></span></p>
    
    <%= yield %>
    
    
    </body>
    </html>
    
    